#heding {
  padding-left: 45%;
  color: orangered;
}
.main {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.inner {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  height: 500px;
}
#data {
  text-align: left;
}
